.light-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
    @media screen and (min-width: 768px) {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
}
