// This file is loaded before Bootstrap and therefore will be leading.
// To override a Bootstrap variable, define it here.

$teal: #007c7f !default;
$primary: $teal !default;
$font-family-sans-serif: "Arvo",
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for macOS (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    Roboto,
    // Basic web fallback
    Arial,
    // Linux
    "Noto Sans",
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
