* {
    box-sizing: border-box;
}

body {
	background: #D2D7DF;
	margin: 0;
}

.wrapper {
	margin: 0 15%;
	color: #353535;
	font-family: 'Lato', sans-serif;
	background: #FFFFFF;
	padding: 1rem;
	min-height: 100vh;
}

h2 {
	font-size: 2rem;
}

.compose-form {
	margin: 5%;
}

.content {
	margin: 3%;
}

.compose-form > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 17px;
}

input, textarea {
	margin: 0.75rem auto;
	width: 100%;
	background: #FFFFFF;
	border: 2px solid;
	padding: 0.5rem;
    border-radius: 5px;
}

button {
	background: #353535;
	color: #FFFFFF;
	border: 1px solid;
	padding: 0.5rem;
	border-radius: 5px;
    cursor: pointer;
    font-size: 0.75em;
}

.delete-btn {
    background: #a95e5e;
    margin-left: 0.5rem;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	display: block;
	font-size: 18px;
}

li {
	display: flex;
    align-items: center;
	justify-content: space-between;
    margin: 2rem auto;
}

ul {
	padding: 0;
}

p {
	font-size: 17px;
	line-height: 24px;
}

.date {
	margin: 0.25rem auto;
	display: block;
	font-size: 13px;
}

.btn-group {
	display: flex;
	width: 25%;
	justify-content: space-around;
}

.channel-btn {
    width: 40%;
}

.edit-message-form {
    display: none;
}

.message-content {
	max-width: 75%;
}

#back {
	color: #D2D7DF;
	margin-top: 5rem;
	border-bottom: 2px solid;
	width: max-content;
}