{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
        <title>{% block title %}{% endblock title %}</title>

        <link href="{% static 'webapp/main.css' %}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            {% include "webapp/assets/logo.svg" %}

            <header>
                <div class="d-flex flex-wrap bg-teal px-lg-5 px-2 py-2 align-items-center">
                    <a href="/" class="me-auto nav-item pt-1">
                        <svg role="img" aria-label="WagtailLive" width="185" height="50">
                            <use xlink:href="#wagtail-live-logo"></use>
                        </svg>
                    </a>
                    <div class="text-white">
                        <span>{{ user.username }}</span>
                        <a href="/" class="nav-item text-white">logout</a>
                    </div>
                </div>
            </header>
    
            {% block nav %} {% endblock nav %}
        
            <main class="container container-md-full mx-lg-5">
                <div class="row mx-0 justify-content-center">
                    <div class="col-lg-6 col-md-10 col-12 px-lg-0">
                        {% block form %} {% endblock form %}
                        {% block content %} {% endblock content %} 
                    </div>
                </div>
            </main>

            <footer class="container-fluid ps-5 mt-5">
                <div class="row text-center text-lg-start">
                    <div class="col-lg-3"></div>

                    <div class="col-lg-6 col-12 row align-items-start justify-content-between">
                        <menu class="list-unstyled col-6 row gy-2 text-decoration-none">
                            <li class="col-12"><a href="#" class="text-decoration-none">Home</a></li>
                            <li class="col-12"><a href="#" class="text-decoration-none" class="active">Channels</a></li>
                            <li class="col-12"><a href="#" class="text-decoration-none">About</a></li>
                            <li class="col-12"><a href="#" class="text-decoration-none">Get in touch</a></li>
                        </menu>
                
                        <ul class="list-unstyled col-6 row gy-2 text-decoration-none">
                            <li class="col-12"><a href="#" class="text-decoration-none">Cookie Information</a></li>
                            <li class="col-12"><a href="#" class="text-decoration-none">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-12 mt-4 list-unstyled">
                        <svg role="img" aria-label="WagtailLive" width="185" height="50">
                            <use xlink:href="#footer-logo"></use>
                        </svg>
                    </div>

                    <span class="col-12 col-lg-6 mx-auto py-3 text-secondary">© Copyright 2021 WagtailLive</span>
                </div>
            </footer>
        </div>

        <script src="{% static 'webapp/main.js' %}"></script>
    </body>
</html>
